/* @settings

name: Li2 Theme
id: li2-theme
settings:
  - 
    id: heading-fonts
    title: Fonts
    type: heading
    level: 1
    collapsed: true
  - 
    id: default-font
    title: Base Font
    type: variable-text
    default: '"Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif'
  - 
    id: mermaid-font
    title: Mermaid Font
    type: variable-text
    default: '"Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif'
  - 
    id: reveal-font
    title: Reveal Font
    type: variable-text
    default: '"Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif'
  - 
    id: font-monospace
    title: Monospace Font
    description: Used for codeblocks, tables, etc.
    type: variable-text
    default: '"Source Code Pro", monospace'
  
  - 
    id: heading-translucency
    title: Translucency
    type: heading
    level: 1
    collapsed: true
  -
    id: opacity-translucency-light
    title: Light Theme Translucency
    type: variable-number-slider
    default: 0.6
    min: 0
    max: 1
    step: 0.01
  -
    id: opacity-translucency-dark
    title: Dark Theme Translucency
    type: variable-number-slider
    default: 0.75
    min: 0
    max: 1
    step: 0.01
  
  - 
    id: heading-colors-background
    title: Background Colors
    type: heading
    level: 1
    collapsed: true
  -
    id: background-primary
    title: Background Primary
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#ffffff'
    default-dark: '#202020'
  -
    id: background-primary-alt
    title: Background Primary (alt)
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#f5f6f8'
    default-dark: '#1a1a1a'
  -
    id: background-secondary
    title: Background Secondary
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#f2f3f5'
    default-dark: '#161616'
  -
    id: background-secondary-alt
    title: Background Secondary (alt)
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#e3e5e8'
    default-dark: '#000000'
  -
    id: background-modifier-border
    title: 'Background Modifier: Border'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#dddddd'
    default-dark: '#333333'
  -
    id: background-modifier-form-field
    title: 'Background Modifier: Form Field'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#ffffffff'
    default-dark: '#0000004d'
  -
    id: background-modifier-form-field-highlighted
    title: 'Background Modifier: Form Field (highlighted)'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#ffffffff'
    default-dark: '#00000038'
  -
    id: background-modifier-box-shadow
    title: 'Background Modifier: Box Shadow'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#0000001a'
    default-dark: '#0000004d'
  -
    id: background-modifier-success
    title: 'Background Modifier: Success'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#A4E7C3'
    default-dark: '#197300'
  -
    id: background-modifier-error
    title: 'Background Modifier: Error'
    type: variable-themed-color
    opacity: false
    format: hex
    alt-format:
      -
        id: background-modifier-error-rgb
        format: rgb-values
    default-light: '#990000'
    default-dark: '#3d0000'
  -
    id: background-modifier-error-hover
    title: 'Background Modifier: Error (hover)'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#bb0000'
    default-dark: '#470000'
  -
    id: background-modifier-cover
    title: 'Background Modifier: Cover'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#000000cc'
    default-dark: '#000000cc'

  - 
    id: heading-colors-text
    title: Text Colors
    type: heading
    level: 1
    collapsed: true
  -
    id: text-accent
    title: 'Text: Accent'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#705dcf'
    default-dark: '#7f6df2'
  -
    id: text-accent-hover
    title: 'Text: Accent (hover)'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#7a6ae6'
    default-dark: '#8875ff'
  -
    id: text-bold
    title: 'Text: bold'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#2e3338'
    default-dark: '#dcddde'
  -
    id: text-muted
    title: 'Text: Muted'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#888888'
    default-dark: '#999999'
  -
    id: text-faint
    title: 'Text: Faint'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#999999'
    default-dark: '#666666'
  -
    id: text-error
    title: 'Text: Error'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#800000'
    default-dark: '#ff3333'
  -
    id: text-error-hover
    title: 'Text: Error (hover)'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#990000'
    default-dark: '#990000'
  -
    id: text-highlight-bg
    title: 'Text: Highlight Background'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#ffff0066'
    default-dark: '#ffff0066'
  -
    id: text-highlight-bg-active
    title: 'Text: Highlight Background (active)'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#ff800066'
    default-dark: '#ff800066'
  -
    id: text-selection
    title: 'Text: Selection Background'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#cce6fffc'
    default-dark: '#17304dfc'
  -
    id: text-selection
    title: 'Text: On Accent'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#f2f2f2'
    default-dark: '#dcddde'
  
  - 
    id: heading-colors-interactive
    title: Interactive Colors
    type: heading
    level: 1
    collapsed: true
  -
    id: interactive-bold
    title: 'Interactive: bold'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#f2f3f5'
    default-dark: '#2a2a2a'
  -
    id: interactive-hover
    title: 'Interactive: Hover'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#e9e9e9'
    default-dark: '#303030'
  -
    id: interactive-accent
    title: 'Interactive: Accent'
    type: variable-themed-color
    opacity: false
    format: hex
    alt-format:
      -
        id: interactive-accent-rgb
        format: rgb-values
    default-light: '#7b6cd9'
    default-dark: '#483699'

  -
    id: interactive-accent-hover
    title: 'Interactive: Accent (hover)'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#8273e6'
    default-dark: '#4d3ca6'
  -
    id: interactive-success
    title: 'Interactive: Success'
    type: variable-themed-color
    opacity: false
    format: hex
    default-light: '#197300'
    default-dark: '#197300'

  - 
    id: heading-colors-scrollbar
    title: Scrollbar Colors
    type: heading
    level: 1
    collapsed: true
  -
    id: scrollbar-bg
    title: 'Scrollbar: Background'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#0000000d'
    default-dark: '#ffffff0d'
  -
    id: scrollbar-thumb-bg
    title: 'Scrollbar: Thumb Background'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#0000001a'
    default-dark: '#ffffff1a'
  -
    id: scrollbar-active-thumb-bg
    title: 'Scrollbar: Active Thumb Background'
    type: variable-themed-color
    opacity: true
    format: rgb
    default-light: '#00000033'
    default-dark: '#ffffff33'

*/
.theme-dark {
  --tag-color: #06b945;
  --h1-color: rgb(232, 232, 232);
  --h2-color: rgb(232, 232, 232);
  --h3-color: rgb(245, 214, 37);
  --h4-color: rgb(0, 197, 122);
  --h5-color: rgb(58, 143, 223);
  --h6-color: rgb(118, 160, 199);
  --h2-border: dotted 1px #924e0067;
  --h3-background: rgba(231, 240, 252, 0.034);
  --link-color: rgb(30, 141, 192);
  --link-external-color: rgb(29, 116, 156);
  --link-external-color-hover: rgb(74, 150, 185);
  --header-weight: bold;
}

body {
  --h1-size: 1.6em;
  --h2-size: 1.6em;
  --h3-size: 1.4em;
  --h4-size: 1.3em;
  --h5-size: 1.2em;
  --h6-size: 1em;
  --tag-size: 0.6em;
  --link-decoration: none;
  --tag-color: #00bd42;
  --h1-color: rgb(3, 78, 112);
  --h3-color: rgb(170, 147, 15);
  --h4-color: rgb(0, 97, 60);
  --h5-color: rgb(32, 89, 143);
  --link-color: rgb(12, 55, 75);
  --h6-color: rgb(41, 55, 68);
  --line-height-bold: 1.5;
  --h3-line-height: 1.1;
  --font-text-size: 24px;
  --h2-border: dotted 1px #924e0067;
  --h3-background: rgba(60, 61, 61, 0.089);
  --header-weight: bold;
  --p-spacing: 1rem;
}

.cm-s-obsidian .HyperMD-header {
  margin-bottom: 10px;
  margin-top: 40px;
}

:not(.cm-active) h1,
.markdown-rendered h1,
.cm-header-1 {
  text-transform: capitalize;
  font-variant: small-caps;
  text-align: left;
}

.cm-header .cm-highlight.cm-link a.cm-inline-code {
  color: var(--color-yellow) !important;
  text-decoration-line: var(--link-external-decoration);
}

.metadata-container .internal-link:hover,
.markdown-rendered .internal-link:hover {
  text-decoration: none;
}

h2,
.markdown-rendered h2,
.cm-header-2 {
  line-height: 2em;
  text-transform: uppercase;
  border-bottom: var(--h2-border);
  border-top: var(--h2-border);
  text-align: left;
  font-weight: bold;
}

h3,
.markdown-rendered h3,
.cm-header-3,
.cm-header-3 {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: var(--h3-background);
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

h4,
.markdown-rendered h4,
.cm-header-4 {
  padding: 8px 0px 8px 0px;
  font-weight: bold;
}

h5,
.markdown-rendered h5,
.cm-header-5 {
  font-weight: var(--header-weight);
  margin-bottom: 20px;
  text-transform: uppercase;
}

h6,
.markdown-rendered h6,
.cm-header-6 {
  font-weight: var(--header-weight);
}

.theme-light .inline-title {
  color: #d67a11;
}

.cm-s-obsidian span.cm-quote.cm-strong {
  font-size: 1.1em;
  color: var(--color-yellow);
  text-transform: none;
}

.cm-strong,
strong {
  font-size: 1.1em;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cm-s-obsidian span.cm-em.cm-quote,
blockquote em {
  text-transform: none;
  color: inherit;
  font-style: bold;
  font-size: 0.7em;
}

.markdown-source-view .cm-hmd-internal-link .cm-underline:before,
.markdown-rendered .internal-link::before,
.markdown-rendered .internal-link.is-unresolved::before,
.cm-link:not(.cm-formatting):before {
  content: "\2326";
  padding-right: 3px;
  color: var(--link-color);
  font-size: 0.6em;
}

.HyperMD-list-line .cm-strong,
ul strong {
  color: var(--color-orange);
  text-transform: none;
}

.metadata-container .internal-link.is-unresolved,
.markdown-rendered .internal-link.is-unresolved {
  color: var(--link-color);
  text-transform: capitalize;
}

.cm-s-obsidian span.cm-quote,
.markdown-rendered blockquote {
  font-size: 1.1em;
}

.cm-s-obsidian .cm-formatting-list,
ol > li::marker,
ul > li::marker {
  color: var(--link-color);
  font-size: 1.1em;
}

span.cm-hmd-internal-link {
  font-size: 0.9em;
}

.markdown-rendered mark,
mark,
.cm-s-obsidian span.cm-highlight {
  background-color: rgba(128, 0, 128, 0.281);
  padding: 5px;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1.3pt;
}

small {
  font-size: 1.1em;
  padding: 0px;
  margin: 0px;
}

i,
em,
span.cm-em {
  font-style: bold;
  font-size: 0.6em;
}

a {
  font-size: 0.9em;
}

code,
.markdown-rendered code,
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian .cm-inline-code:not(.cm-formatting) {
  padding: 0.3em 0.25em;
  background-color: rgba(228, 94, 228, 0.425);

  font-size: 0.7em;
  font-weight: bold;
  font-family: monospace;
}

code::before,
.cm-s-obsidian .cm-line:not(.cm-active) span.cm-inline-code::before {
  content: "Note:";

  display: inline-block;
  margin-right: 2px;
  background-color: rgba(255, 122, 255, 0.034);
  font-size: 0.7em;
}


.reveal .has-light-background,
.reveal .has-light-background h1,
.reveal .has-light-background h2,
.reveal .has-light-background h3,
.reveal .has-light-background h4,
.reveal .has-light-background h5,
.reveal .has-light-background h6 {
  color: #222;
}
:root {
  --r-background-color: #111;
  --r-main-font: "Courier New", sans-serif;
  --r-main-font-size: 35px;
  --r-main-color: #222222;
  --r-block-margin: 20px;
  --r-heading-margin: 0 0 20px 0;
  --r-heading-font:
    "Courier New",
    Impact,
    sans-serif;
  --r-heading-color: #021463;
  --r-heading-line-height: 1em;
  --r-heading-letter-spacing: bold;
  --r-heading-text-transform: uppercase;
  --r-heading-text-shadow: none;
  --r-heading1-font-weight: bold;
  --r-heading2-font-weight: bold;
  --r-heading3-font-weight: bold;
  --r-heading4-font-weight: bold;
  --r-heading5-font-weight: bold;
  --r-heading6-font-weight: bold;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 3.77em;
  --r-heading2-size: 2.11em;
  --r-heading3-size: 1.55em;
  --r-heading4-size: 1em;
  --r-heading5-size: 1.1em;
  --r-heading6-size: 0.6em;
  --r-code-font: monospace;
  --r-link-color: #e7ad52;
  --r-link-color-dark: #d08a1d;
  --r-link-color-hover: #f0cd95;
  --r-selection-background-color: #f7e2c2;
  --r-selection-color: #fff;
}
.reveal-viewport {
  background: rgb(8, 189, 17);
}
.reveal {
  font-family: var(--r-main-font);
  font-size: var(--r-main-font-size);
  font-weight: bold;
  color: var(--r-main-color);
}
.reveal ::selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}
.reveal ::-moz-selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}
.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: var(--r-heading-margin);
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
  line-height: var(--r-heading-line-height);
  letter-spacing: var(--r-heading-letter-spacing);
  text-transform: var(--r-heading-text-transform);
  text-shadow: var(--r-heading-text-shadow);
  word-wrap: break-word;
}
.reveal h1 {
  font-size: var(--r-heading1-size);
}
.reveal h2 {
  font-size: var(--r-heading2-size);
}
.reveal h3 {
  font-size: var(--r-heading3-size);
}
.reveal h4 {
  font-size: var(--r-heading4-size);
}
.reveal h5 {
  font-size: var(--r-heading5-size);
}
.reveal h6 {
  font-size: var(--r-heading6-size);
}
.reveal h1 {
  font-weight: var(--r-heading1-font-weight);
}
.reveal h2 {
  font-weight: var(--r-heading2-font-weight);
}
.reveal h3 {
  font-weight: var(--r-heading3-font-weight);
}
.reveal h4 {
  font-weight: var(--r-heading4-font-weight);
}
.reveal h5 {
  font-weight: var(--r-heading5-font-weight);
}
.reveal h6 {
  font-weight: var(--r-heading6-font-weight);
}
.reveal h1 {
  text-shadow: var(--r-heading1-text-shadow);
}
.reveal .slides > section.drop {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}
.reveal .slides > section.drop > div[absolute=true]{
  --slide-width: 1960px;
  --slide-height: 100%;
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;

  min-height: auto;
}
.reveal .slides > section.drop > div[absolute=true] > .mermaid {

  max-height: 90%;
}
.reveal .slides > section.drop > div[absolute=true] > .mermaid > svg{
  width: 1020px;
  
  max-width: 100%;
}
.reveal .slides > section.drop > div[absolute=true] > .mermaid  text{
  font-family: "Courier New";

  fill: #805100 !important;
}
.reveal .slides > section.drop > div[absolute=true] > .mermaid  text.sequenceNumber{
  font-family: "Courier New";

  fill: #1b1b1b !important;
}

.reveal p {
  margin: var(--r-block-margin) 0;
  line-height: 1.3;
}
.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
  margin-bottom: 0;
}
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 100%;
  max-height: 100%;
}
.reveal strong,
.reveal b {
  font-weight: bold;
}
.reveal em {
  font-style: italic;
}
.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}
.reveal ol {
  list-style-type: decimal;
}
.reveal ul {
  list-style-type: disc;
}
.reveal ul ul {
  list-style-type: square;
}
.reveal ul ul ul {
  list-style-type: circle;
}
.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}
.reveal dt {
  font-weight: bold;
}
.reveal dd {
  margin-left: 40px;
}
.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: var(--r-block-margin) auto;
  padding: 5px;
  font-style: italic;
  background: rgb(5, 48, 5);
}
.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}
.reveal q {
  font-style: italic;
}
.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: var(--r-block-margin) auto;
  text-align: left;
  font-size: 0.55em;
  font-family: var(--r-code-font);
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.reveal code {
  font-family: var(--r-code-font);
  text-transform: none;
  tab-size: 2;
}
.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: bold;
}
.reveal .code-wrapper {
  white-space: bold;
}
.reveal .code-wrapper code {
  white-space: pre;
}
.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}
.reveal table th {
  font-weight: bold;
}
.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em;
  border-bottom: 1px solid;
}
.reveal table th[align=center],
.reveal table td[align=center] {
  text-align: left;
}
.reveal table th[align=right],
.reveal table td[align=right] {
  text-align: right;
}
.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}
.reveal sup {
  vertical-align: super;
  font-size: smaller;
}
.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}
.reveal small {
  display: inline-block;
  font-size: 0.4em;
  line-height: 1.2em;
  vertical-align: top;
  color: #a7a5a5;
}
.reveal small * {
  vertical-align: top;
}
.reveal img {
  margin: var(--r-block-margin) 0;
}
.reveal a {
  color: var(--r-link-color);
  text-decoration: none;
  transition: color 0.15s ease;
}
.reveal a:hover {
  color: var(--r-link-color-hover);
  text-shadow: none;
  border: none;
}
.reveal .roll span:after {
  color: #fff;
  background: var(--r-link-color-dark);
}
.reveal .r-frame {
  border: 4px solid var(--r-main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.reveal a .r-frame {
  transition: all 0.15s linear;
}
.reveal a:hover .r-frame {
  border-color: var(--r-link-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}
.reveal .controls {
  color: var(--r-link-color) !important;
}
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--r-link-color);
}
@media print {
  .backgrounds {
    background-color: var(--r-background-color);
  }
}
.has-dark-background canvas[data-chart] {
  background-color: white;
}
.has-light-background canvas[data-chart] {
  background-color: unset;
}
canvas[data-chart] {
  padding: 0.5em;
}
.reveal .hljs {
  min-height: 50%;
}
.reveal .slides {
  text-align: left;
}
p.reset-paragraph {
  margin: inherit;
  line-height: inherit;
}
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 100%;
  max-height: 100%;
}
.reveal ol,
.reveal dl,
.reveal ul {
  text-align: left;
  margin: var(--r-block-margin) 0;
  margin-left: 1em;
}
.reveal sup {
  vertical-align: super;
  font-size: x-small;
  color: var(--r-link-color);
}
.reveal sub {
  vertical-align: sub;
  font-size: x-small;
}
.footnotes {
  font-size: 8px;
}
.footnotes > ol * {
  margin: 0px !important;
}
.footnotes > ol > li::marker {
  color: var(--r-link-color);
  content: counter(list-item) ": ";
}
